@{
    var userName = ViewData["UserName"] as string; // Kullanıcı adı ViewData'dan alınıyor
    var userRole = ViewData["Role"] as string; // Kullanıcı rolü ViewData'dan alınıyor (Admin kontrolü için)
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZeynepBeautySaloon</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css"> <!-- Özel CSS Dosyası -->
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand img" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.jpg" alt="Logo" style="max-height: 120px; width: auto;" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Personel" asp-action="Index">Ekibimiz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Islemler" asp-action="Index">Hizmetler</a>
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="nav-link" asp-area="" asp-controller="Appointment" asp-action="Index">Randevu</a>
                            }
                            else
                            {
                                <a class="nav-link" asp-area="" asp-controller="Appointment" asp-action="Randevu">Randevu</a>
                            }
                        </li>
                    </ul>

                    <!-- Üye veya Admin Girişi -->
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated) // Kullanıcı giriş yaptıysa
                        {
                            <span class="badge bg-warning">Hoş geldiniz, @User.Identity.Name!</span>
                            <a class="btn btn-danger ml-2" href="/Uye/Logout">Çıkış Yap</a>

                            @if (User.IsInRole("Admin")) // Admin rolündeyse
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/Admin/Index">Admin Paneli</a>
                                </li>
                            }
                        }
                        else // Giriş yapmadıysa
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Uye" asp-action="Register">Üye Ol</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Uye" asp-action="Login">Giriş Yap</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() <!-- Burada ilgili view'in içeriği render edilecektir -->
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer mt-4 text-muted bg-dark pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="footer-heading text-light">İletişim</h5>
                    <p class="text-light"><a href="mailto:info@zeynepbeauty.com" class="text-light">Email: info@zeynepbeauty.com</a></p>
                    <p class="text-light">Adres: Konya, Türkiye</p>
                    <p class="text-light">Telefon: +90 555 123 4567</p>
                </div>
                <!-- Hızlı Bağlantılar ve Harita -->
                <div class="col-md-4">
                    <h5 class="footer-heading text-light">Hızlı Bağlantılar</h5>
                    <ul class="list-unstyled">
                        <li><a href="../Views/Personel/Index.cshtml" class="text-light">Ekibimiz</a></li>
                        <li><a href="#" class="text-light">Hakkımızda</a></li>
                        <li><a href="#" class="text-light">Randevu Al</a></li>
                        <!-- Konum Linki -->
                        <li><a href="https://maps.app.goo.gl/UgqpBPagLRtfkQbt7" target="_blank" class="text-light">Konumumuza Git</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="footer-heading text-light">Sosyal Medya</h5>
                    <div class="social-icons">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="text-light" target="_blank">
                                    <i class="bi bi-instagram"></i> Instagram
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light" target="_blank">
                                    <i class="bi bi-facebook"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light" target="_blank">
                                    <i class="bi bi-twitter"></i> Twitter
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="mt-3 text-center text-light">&copy; 2024 ZeynepBeautySaloon | <a href="#" class="text-light">Gizlilik Politikası</a></p>
            <p class="text-center text-light">Designed with ❤ by ZeynepBeautySaloon Ekibi</p>
        </div>
    </footer>

    <!-- JQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Site Özel JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>