@model ZeynepBeautySaloon.Models.Appointment

@{
    ViewData["Title"] = "Randevu Oluştur";
}

<h1>Randevu Oluştur</h1>

@if (TempData["msj"] != null)
{
    <div class="alert alert-danger">@TempData["msj"]</div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tarih" class="control-label"></label>
                <input asp-for="Tarih" class="form-control" type="date" />
                <span asp-validation-for="Tarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saat" class="control-label"></label>
                <input asp-for="Saat" class="form-control" type="time" />
                <span asp-validation-for="Saat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonelId" class="control-label">Personel</label>
                <select asp-for="PersonelId" class="form-control" asp-items="ViewBag.PersonelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IslemId" class="control-label">İşlem</label>
                <select asp-for="IslemId" class="form-control" asp-items="ViewBag.IslemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UyeId" class="control-label">Üye</label>
                <select asp-for="UyeId" class="form-control" asp-items="ViewBag.UyeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ucret" class="control-label"></label>
                <input asp-for="Ucret" class="form-control" readonly />
                <span asp-validation-for="Ucret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnayDurumu" class="control-label"></label>
                <input asp-for="OnayDurumu" class="form-control" />
                <span asp-validation-for="OnayDurumu" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index">Randevu Listesine Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}