@model ZeynepBeautySaloon.Models.Uye

@{
    ViewData["Title"] = "Üye Paneli";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
<style>
    .input-group {
        position: relative; /* İçerideki elementi pozisyonlandırmak için */
    }

        .input-group .form-control {
            padding-right: 40px; /* Göz simgesi için sağda boşluk bırak */
        }

    .input-group-text {
        position: absolute;
        right: 0; /* Sağa hizala */
        top: 0;
        bottom: 0;
        border: none; /* Kenarlığı kaldır */
        background-color: transparent; /* Arka planı şeffaf yap */
        padding: 0;
        z-index: 2; /* Inputun üstünde olması için */
        display: flex;
        align-items: center;
        padding-right: 15px;
    }

        .input-group-text i {
            cursor: pointer; /* İmleci el işaretine çevir */
            color: #777;
        }

    .input-group-append {
        height: 100%;
    }
</style>

<h1><b><i>Üye Paneline Hoş Geldiniz ❤</i></b></h1>
<h2>Kullanıcı Bilgilerini Güncelle</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
        @if (TempData["ModelStateErrors"] != null)
        {
            <ul>
                @foreach (var error in (string[])TempData["ModelStateErrors"])
                {
                    <li>@error</li>
                }
            </ul>
        }
    </div>
}

<form asp-controller="Uye" asp-action="UpdateProfile" method="post">
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Ad" class="control-label"></label>
        <input asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Soyad" class="control-label"></label>
        <input asp-for="Soyad" class="form-control" />
        <span asp-validation-for="Soyad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cinsiyet" class="control-label"></label>
        <select asp-for="Cinsiyet" class="form-control">
            <option value="">Seçiniz</option>
            <option value="Kadın">Kadın</option>
            <option value="Erkek">Erkek</option>
        </select>
        <span asp-validation-for="Cinsiyet" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefon" class="control-label"></label>
        <input asp-for="Telefon" class="form-control" />
        <span asp-validation-for="Telefon" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <div class="input-group">
            <input asp-for="Password" class="form-control" type="password" id="Password" />
            <div class="input-group-append">
                <span class="input-group-text" onclick="togglePasswordVisibility('Password')">
                    <i id="Password-icon" class="fa-solid fa-eye-slash"></i>
                </span>
            </div>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Güncelle" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function togglePasswordVisibility(inputId) {
            var passwordInput = document.getElementById(inputId);
            var passwordIcon = document.getElementById(inputId + "-icon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                passwordIcon.classList.remove("fa-eye-slash");
                passwordIcon.classList.add("fa-eye");
            } else {
                passwordInput.type = "password";
                passwordIcon.classList.remove("fa-eye");
                passwordIcon.classList.add("fa-eye-slash");
            }
        }
    </script>
}